<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center commission">
        <ion-icon src="assets/icon/listAgence.svg"></ion-icon>
        <ion-label>Les Agences</ion-label>
      </div>
      <hr>
    </div>
    <ion-grid class="ion-text-center">
      <ion-row class="header-row">
        <ion-col>
          <ion-text>Date</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Montant</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Action</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let infoDepot of infoDepots">
        <ion-col>
          <ion-datetime displayFormat="MMM D, YYYY" value="{{infoDepot.dateDepot}}"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-text>
            {{infoDepot.montantDepot}}
          </ion-text>
        </ion-col>
        <ion-button (click)="AnnulerDepot()" color="danger">Annuler</ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
