<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agence">
      <ion-icon src="assets/icon/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="transaction">
      <ion-icon src="assets/icon/information.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button *ngIf="myData" tab="commission">
      <ion-icon src="assets/icon/commis.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calculator">
      <ion-icon src="assets/icon/calculator.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
