img {
  width: 60px;
  height: 60px;
  margin-left: 33%;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: #07AEEF 2px solid;
  margin-bottom: 8px;
}
ion-item {
  width: 100%;
  padding: 8%;
}
