<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center retrait">
        <ion-icon src="assets/icon/retrait.svg"></ion-icon>
        <ion-label>Retrait</ion-label>
      </div>
      <hr>
    </div>
    <div class="content-form-depot">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Code Transaction</ion-label>
        <ion-input name="code" [(ngModel)]="code" (change)="InfoDepot($event)" formControlName="code"
                   [ngClass]="{'is-invalid': submitted && f.code.errors }" required></ion-input>
      </ion-item>
      <div id="content-menu-choice" padding>
        <div class="content-menu" (click)="ShowAndHide(1)">
          Bénéficiare
          <div class="menu-bar-bottom" [hidden]="hide"></div>
        </div>

        <div class="content-menu" type="button" (click)="ShowAndHide(2)">
          Emmetteur
          <div class="menu-bar-bottom" [hidden]="!hide"></div>
        </div>
      </div>
      <div [hidden]="hide" id="content-form-emmeteur">

          <ion-item>
            <ion-label position="floating">Telephone</ion-label>
            <ion-input [(ngModel)]="telephone"
                       formControlName="telephone"
                       [ngClass]="{'is-invalid': submitted && f.telephone.errors }" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Nom Complet: </ion-label>
            <ion-input placeholder="{{nomComplet1}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Telephone: </ion-label>
            <ion-input placeholder="{{phone1}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Montant Retiré: </ion-label>
            <ion-input placeholder="{{montantRetrait}}fcfa"></ion-input>
          </ion-item>
      </div>

      <div [hidden]="!hide" id="content-form-beneficiaire">
          <ion-item>
            <ion-label>N°CNI: </ion-label>
            <ion-input placeholder="{{cni}}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Nom Complet: </ion-label>
            <ion-input placeholder="{{nomComplet2}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Telephone: </ion-label>
            <ion-input placeholder="{{phone2}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Montant Envoyé: </ion-label>
            <ion-input placeholder="{{montantEnvoi}}fcfa"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Date Envoie: </ion-label>
            <ion-datetime displayFormat="DDDD MMM D, YYYY" placeholder="{{date}}"></ion-datetime>
          </ion-item>


      </div>
      <ion-button type="submit" expand="block" shape="round">Retirer</ion-button>
      </form>
    </div>
  </div>
</ion-content>


