  <ion-content>
    <div class="container">
      <div class="haut">
        <div class="ion-text-center" >
          <img src="assets/money_logo.png" alt="">
        </div>
        <div class="ion-text-center depot">
          <ion-icon src="assets/icon/depot.svg"></ion-icon>
          <ion-label>Dépôt</ion-label>
        </div>
        <hr>
      </div>
      <div class="content-form-depot">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div id="content-menu-choice" padding>
          <div class="content-menu" (click)="ShowAndHide(1)">
            Emmetteur
            <div class="menu-bar-bottom" [hidden]="hide"></div>
          </div>

          <div class="content-menu" type="button" (click)="ShowAndHide(2)">
            Bénéficiare
            <div class="menu-bar-bottom" [hidden]="!hide"></div>
          </div>
        </div>
        <div [hidden]="hide" id="content-form-emmeteur">

            <ion-item>
              <ion-label position="floating">Num CNI</ion-label>
              <ion-input [(ngModel)]="cni"
                         formControlName="cni"
                         [ngClass]="{'is-invalid': submitted && f.cni.errors }" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nom Complet</ion-label>
              <ion-input [(ngModel)]="nomComplet1"
                         formControlName="nomComplet1"
                         [ngClass]="{'is-invalid': submitted && f.nomComplet1.errors }" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Telephone</ion-label>
              <ion-input [(ngModel)]="telephone1"
                         formControlName="telephone1"
                         [ngClass]="{'is-invalid': submitted && f.telephone1.errors }" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Montant</ion-label>
              <ion-input [(ngModel)]="montant"
                         formControlName="montant"
                         [ngClass]="{'is-invalid': submitted && f.montant.errors }" required></ion-input>
            </ion-item>
            <ion-item class="frais">
              <ion-label position="floating">Frais</ion-label>
              <ion-input name="frais" id="frais"></ion-input>
            </ion-item>
            <ion-item style="width: 100%">
              <ion-label position="floating">Total</ion-label>
              <ion-input name="total"></ion-input>
            </ion-item>

        </div>

        <div [hidden]="!hide" id="content-form-beneficiaire">
            <ion-item>
              <ion-label position="floating">Nom Complet</ion-label>
              <ion-input [(ngModel)]="nomComplet2"
                         formControlName="nomComplet2"
                         [ngClass]="{'is-invalid': submitted && f.nomComplet2.errors }" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating" >Telephone</ion-label>
              <ion-input [(ngModel)]="telephone2"
                         formControlName="telephone2"
                         [ngClass]="{'is-invalid': submitted && f.telephone2.errors }" required></ion-input>
            </ion-item>
          <ion-button type="submit" expand="block" shape="round">Valider</ion-button>
        </div>
        </form>
      </div>
    </div>
  </ion-content>


