  <ion-content>
    <div class="container">
      <div class="haut">
        <div class="ion-text-center" >
          <img src="assets/money_logo.png" alt="">
        </div>
        <div class="ion-text-center depot">
          <ion-icon src="assets/icon/depot.svg"></ion-icon>
          <ion-label>Dépôt</ion-label>
        </div>
        <hr>

      </div>
      <!--<div class="form ion-text-center">
        <form>
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input  required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input required></ion-input>
          </ion-item>
          <h6>Mot de passe oublié?</h6>
          <ion-button type="submit" expand="block" shape="round">Se connecter</ion-button>
        </form>
      </div>-->
    </div>
    <app-tabs></app-tabs>
  </ion-content>


