<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center calculator">
        <ion-icon src="assets/icon/calculator.svg"></ion-icon>
        <ion-label>Calculatrice</ion-label>
      </div>
      <hr>

    </div>
    <div class="form ion-text-center">
      <form>
            <ion-item>
              <ion-label>Type Transaction</ion-label>
              <ion-select>
                <ion-select-option>Dépôt</ion-select-option>
                <ion-select-option>Retrait</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating" >Montant</ion-label>
              <ion-input></ion-input>
            </ion-item>
      </form>
          <ion-button expand="block" shape="round">Calculer</ion-button>
    </div>
  </div>
</ion-content>


