.header {
  width: 100%;
  height: 35%;
  background-color: #f3f3f3;
  .menu {
    color: #07AEEF;
    font-size: 32px;
    margin-top: 13%;
    margin-right: 17%;
  }
  img {
    width: 50px;
    height: 50px;
    margin-top: 13%;
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #07AEEF 2px solid;
    margin-top: 13%;
    margin-left: 17%;
  }
  .solde {
    width: 90%;
    height: auto;
    background-color: #ffffff;
    border-bottom: #07AEEF 3px solid;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: 8%;
    h1 {
      color: #07AEEF;
    }
  }
}
ion-item {
  margin: 7px;
  ion-icon {
    color: #FC4813;
    font-size: 32px;
  }
  ion-label {
    margin-left: 5px;
  }
}


