<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center">
        <img src="assets/money_logo.png" alt="">
      </div>
      <h3 class="ion-text-center">Login</h3>
      <hr>
    </div>
    <div class="form ion-text-center">
      <form [formGroup]="formLogin" (ngSubmit)= "onSubmit()">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input name="username" formControlName="username" class="form-control" [(ngModel)]="username" [ngClass]="{'is-invalid': submitted && f.username.errors }" required></ion-input>
      </ion-item>
        <div class="ion-text-center" style="color: red" *ngIf="submitted && f.username.errors">
          <div *ngIf="f.username.errors.required">Username is required!</div>
        </div>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" name="password" formControlName="password" class="form-control" [(ngModel)]="password" [ngClass]="{'is-invalid': submitted && f.password.errors }" required></ion-input>
      </ion-item>
        <div class="ion-text-center" style="color: red" *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">Password is required!</div>
        </div>
      <h6>Mot de passe oublié?</h6>
      <ion-button type="submit" expand="block" shape="round">Se connecter</ion-button>
      </form>
    </div>
  </div>
</ion-content>
