<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center transaction">
        <ion-icon src="assets/icon/transaction.svg"></ion-icon>
        <ion-label>Transactions</ion-label>
      </div>
      <hr>
    </div>

    <div>
      <ion-item>
        <ion-label position="floating">Nom Agence</ion-label>
        <ion-select (ngModelChange)="InfoDepot($event)"  [(ngModel)]="type">
          <ion-select-option value="depot">depot</ion-select-option>
          <ion-select-option value="retrait">retrait</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-grid class="ion-text-center">
        <ion-row class="header-row">
          <ion-col>
            <ion-text>Data</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Type</ion-text>
          </ion-col>
          <ion-col>
            <ion-text>Montant</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let infoTransaction of infoTransactions">
          <ion-col>
            <ion-datetime displayFormat="MMM D, YYYY" value="{{infoTransaction.dateDepot}}"></ion-datetime>
          </ion-col>
          <ion-col>
            <ion-text>
              {{type}}
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
              {{infoTransaction.montant}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div style="" class="ion-text-center total">
        <ion-label position="floating" >Total: <span>{{total}}</span> </ion-label>
      </div>
    </div>
  </div>
</ion-content>


