<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center commission">
        <ion-icon src="assets/icon/tarif.svg"></ion-icon>
        <ion-label>Les Tarifs</ion-label>
      </div>
      <hr>
    </div>
    <ion-grid class="ion-text-center">
      <ion-row class="header-row">
        <ion-col>
          <ion-text>Min</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Max</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Tarif</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let infoTarif of infoTarifs">
        <ion-col>
          <ion-text>
            {{infoTarif.min}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{infoTarif.max}}
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{infoTarif.tarif}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
