<ion-content>
  <div class="container">
    <div class="haut">
      <div class="ion-text-center" >
        <img src="assets/money_logo.png" alt="">
      </div>
      <div class="ion-text-center commission">
        <ion-icon src="assets/icon/commis.svg"></ion-icon>
        <ion-label>Commission</ion-label>
      </div>
      <hr>

    </div>
    <ion-grid class="ion-text-center">
      <ion-row class="header-row">
        <ion-col>
          <ion-text>Data</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Type</ion-text>
        </ion-col>
        <ion-col>
          <ion-text>Montant</ion-text>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let infoTransaction of infoTransactions">
        <ion-col>
          <ion-datetime displayFormat="MMM D, YYYY" value="{{infoTransaction.dateDepot}}"></ion-datetime>
        </ion-col>
        <ion-col>
          <ion-text>
            Depot
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text>
            {{infoTransaction.fraisEnvoi}}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="" class="ion-text-center total">
      <ion-label position="floating" >Total: <span>{{total}}</span> </ion-label>
    </div>
  </div>
</ion-content>


